<!-- == パーツを追加する場合はここに == -->
<!-- BEGIN type#parts-line -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">

			<div style="margin-top: 60px">
			<!--#include file="/include/parts_layout/line.html" -->
			</div>
		</div>
	</div>
</div>
<!-- END type#parts-line -->

<!-- BEGIN type#parts-cv-group -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
				<!--#include file="/include/parts_layout/cv-group.html" -->
		</div>
	</div>
</div>
<!-- END type#parts-cv-group -->

<!-- BEGIN type#parts-headline -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!--#include file="/include/parts_layout/headline.html" -->
		</div>
	</div>
</div>
<!-- END type#parts-headline -->


<!-- BEGIN type#parts-summary-horizontal-img -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!--#include file="/include/parts_layout/summary-horizontal-img.html" -->
		</div>
	</div>
</div>
<!-- END type#parts-summary-horizontal-img -->


<!-- BEGIN type#parts-summary-horizontal-text -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!--#include file="/include/parts_layout/summary-horizontal-text.html" -->
		</div>
	</div>
</div>
<!-- END type#parts-summary-horizontal-text -->

<!-- BEGIN type#parts-summary-vertical-img -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!--#include file="/include/parts_layout/summary-vertical-img.html" -->
		</div>
	</div>
</div>
<!-- END type#parts-summary-vertical-img -->

<!-- BEGIN type#parts-summary-vertical-text -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!--#include file="/include/parts_layout/summary-vertical-text.html" -->
		</div>
	</div>
</div>
<!-- END type#parts-summary-vertical-text -->

<!-- BEGIN type#parts-summary_category_list_horizontal -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!--#include file="/include/parts_layout/summary_category_list_horizontal.html" -->
		</div>
	</div>
</div>
<!-- END type#parts-summary_category_list_horizontal -->


<!-- BEGIN type#parts-rich-entry-body -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">

			<div class="rich-editor">
				<h3>見出し3</h3>
				<p>吾輩は猫である。名前はまだ無い。
					どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。
				</p>
				<hr>
				<ul>
					<li><a href="">リンク：ノーマル</a></li>
					<li><a href="" target="_blank">リンク：<code>target="_blank"</code>を指定している場合</a></li>
					<li><strong>重要な要素：strong</strong></li>
					<li><strong><strong>さらに重要な要素：strong &gt; strong</strong></strong></li>
					<li><em>強調の要素：em</em></li>
					<li><s>すでに正確ではなくなった要素：s</s></li>
					<li>E=mc<sup>2</sup>上付き文字：sub</li>
					<li>CO<sub>2</sub>下付き文字：sub</li>
					<li><small>著作権などの注釈や細目を表す要素：small</small></li>
				</ul>
			</div>


		</div>
	</div>
</div>
<!-- END type#parts-rich-entry-body -->

<!-- == low colを追加する場合はここに == -->
<!-- BEGIN type#is-col6-6-->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-6">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-6">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
</div>
<!-- END type#is-col6-6 -->
<!-- BEGIN type#is-col8-4-->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-8">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
</div>
<!-- END type#is-col8-4 -->
<!-- BEGIN type#is-col4-8-->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-8">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
</div>
<!-- END type#is-col4-8 -->

<!-- BEGIN type#is-col4-4-4 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="3">
			<!-- COL#3 -->
		</div>
	</div>
</div>
<!-- END type#is-col4-4-4 -->

<!-- BEGIN type#is-col3-3-3-3 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="3">
			<!-- COL#3 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="4">
			<!-- COL#4 -->
		</div>
	</div>
</div>
<!-- END type#is-col3-3-3-3 -->


<!-- == レイアウトを追加する場合はここに == -->
<!-- BEGIN type#container__inner--full -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
</div>
<!-- END type#container__inner--full -->

<!-- BEGIN type#content-block--full -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix acms-container">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
</div>
<!-- END type#content-block--full -->

<!-- BEGIN type#content-block -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix acms-container">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents  acms-admin-push-md-2 acms-admin-col-md-8">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
</div>
<!-- END type#content-block -->

<!-- BEGIN type#ps-block -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix acms-container">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-8">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-md-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
</div>
<!-- END type#ps-block -->


<!-- == モジュール == -->
<!-- BEGIN type#module -->
<div class="js-acms_layout-unit acms-admin-layout-unit acms-admin-layout-module-unit">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<button class="js-acms_layout_select_module acms-admin-layout-control-btn acms-admin-btn-admin acms-admin-btn-small" ><span class="acms-admin-icon-module"></span>モジュール</button>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
		</div>
	</div>
	<div class="js-acms_layout_contents js-acms_layout_module_box acms-admin-layout-contents" data-col="1">
		<!-- COL#1 -->
		<!-- MODULE -->
	</div>
</div>
<!-- END type#module -->


